.character_form {
    border-radius: 15px;
    width: 65vw;
    min-width: 310px;
    background-color: var(--bg-for-character-list);

    display: grid;
    grid-template-rows: auto auto;
}
.person_information_about_character {
    display: grid;
    grid-template-columns: 30% auto;
    & img {
        margin: 5px;
        border-radius: 15px;
        grid-column-start: 1;
        height: var(--height-cart-person);
        max-height: var(--max-height-cart-person-logo-on-list);
        min-height: var(--min-height-cart-person-logo-on-list);

        max-width: var(--max-width-cart-person-logo-on-list);
        min-width: var(--min-width-cart-person-logo-on-list);
        width: var(--width-cart-person);
        object-fit: cover;
    }
    & #image-upload {
        grid-column-start: 1;
        margin: 5px;
        height: 2vw;
        min-height: 15px;
        max-width: 120px;
    }
    & .information {
        height: 10vw;
        margin: 5px;
        grid-column-start: 2;
        grid-row-start: 1;
        display: grid;
        grid-template-columns: 25vw 20vw;
        & b {
            min-height: var(--min-height-input-list-character);
            max-height: var(--max-height-input-list-character);
            height: 2vw;
            & * {
                border: none;
                border-radius: 5px;
                background-color: var(--bg-for-character-list);
                color: var(--text-color);
                font-size: var(--default-font-size);
                text-align: center;
            }
        }
    }
}
.main_character_info {
    grid-column-start: 1;
}
.character_classes {
    grid-column-start: 2;
    display: grid;
    width: 20vw;
    min-width: 100px;
}
.name_character {
    width: 10vw;
}
.lvl_character {
    width: 3vw;
    min-width: 20px;
}
.exp_character {
    width: 10vw;
    min-width: 50px;
}
.size_select {
    min-height: var(--min-height-input-list-character);
    max-height: var(--max-height-input-list-character);
    height: 2vw;
    width: 10vw;
}
#header_list {
    grid-row-start: 1;
}
#main_list {
    grid-row-start: 2;
    margin: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.line {
    height: 1px;
    width: 100%;
    background-color: var(--dg-color);
    margin: auto;
}
.state {
    text-transform: uppercase;
    color: var(--linck-color-form);
    display: grid;
    grid-template-columns: 35% auto 10%;
}

.submit_place {
    display: flex;
    justify-content: center;

    & .submit {
        border: none;
        margin: 5px;

        max-width: var(--max-width-cart-person-logo-on-list);
        min-width: var(--min-width-cart-person-logo-on-list);
        width: var(--width-cart-person);

        height: 5vw;
        min-height: 30px;
        max-height: 40px;
        border-radius: 25px;
        font-size: var(--name-buttons-on-form);
        &:hover {
            scale: var(--scale-min);
        }
    }
    & #success {
        background-color: var(--bg-button-access);
    }
    & #back {
        background-color: var(--bg-button-dungerous);
    }
}