body {
    margin: 0;
    background-color: var(--dg-color);
    color: var(--text-color);
    font-size: var(--default-font-size);
}

.errors {
    font-size: var(--font-size-error-forms);
}
.margin_top_for_all_center_content {
    margin-top: 10vh;
    display: grid;
    justify-items: center;
}

.content {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: auto auto;
}

.left_content {
    grid-column-start: 1;
    grid-row-start: 2;
}
.center_content {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    justify-items: center;
    align-items: center;
}
.right_content {
    grid-column-start: 3;
    grid-row-start: 2;
}
.header {
    grid-column: 1/4;
    grid-row: 1;
    display: grid;
    margin-top: 1vw;
    width: 100%;
    grid-template-columns: 20vw auto 20vw;
    height: 20px;
}

.header_content {
    grid-column-start: 2;

    background-color: var(--bg-form-on-body-color);
    justify-content: space-between;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 25% 65% 10%;
}

.header_logo {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    flex-direction: row;
    height: 2rem;
    padding-left: 2vw;
    text-decoration: none;
    color: var(--text-color);
    z-index: 9999;
    & img {
        width: var(--size-img-on-header);
        height: var(--size-img-on-header);
        border-radius: var(--border-radius-img-on-header);
        margin-right: 10px;
    }
    & p {
        font-size: var(--name-project-navbar);
    }
}


.navbar {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    z-index: 999;

    & li a {
        color: var(--text-color);
        text-decoration: none;
        margin-left: 1vw;
        font-size: var(--font-size-navbar);
    }
    & li:hover {
        scale: var(--scale-max);
    }
    & li a:hover {
        color: var(--hover-text-color);
    }
    & li:active {
        scale: var(--scale-min);
    }
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 5vw;
    margin-right: 1vw;
    z-index: 999;
    & a img {
        border-radius: var(--border-radius-img-on-header);
        width: var(--size-img-on-header);
        height: var(--size-img-on-header);
    }
}

.login {
    color: var(--text-corol-attention);
    text-decoration: none;
    &:hover {
        scale: var(--scale-max);
    }
    &:active {
        scale: var(--scale-min);
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        width: 35vw;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1500px) {
    .header_logo {
        & img {
        width: var(--size-img-on-header-after-1300);
        height: var(--size-img-on-header-after-1300);
        }
    }
    .account {
    & a img {
        width: var(--size-img-on-header-after-1300);
        height: var(--size-img-on-header-after-1300);
    }
}
}
@media screen and (min-width: 1500px) {
    .header_logo {
        & img {
        width: var(--size-img-on-header-after-1500);
        height: var(--size-img-on-header-after-1500);
        }
    }
    .account {
    & a img {
        width: var(--size-img-on-header-after-1500);
        height: var(--size-img-on-header-after-1500);
    }
}
}