{% extends 'main/base.html' %}
{% load static %}
{% load pool_extras %}

{% block new_imports %}
<link rel="stylesheet" href="{% static 'css/character_list.css' %}"/>
{% endblock %}

{% block title %}
{{ character.name }}
{% endblock %}

{% block main_content %}
    <form method="post" enctype="multipart/form-data" class="character_form">
        {% csrf_token %}
        <div class="person_information_about_character" id="header_list">
            <img id="image-preview" src="/media/{{ character.logo }}">
            <input type="file" id="image-upload" accept="image/*" name="logo">
            <div class="information">
                <b><input value="{{ character.name }}" type="text" name="name" class="name_character">
                    - <input value="{{ list_character.lvl }}" id="character_lvl" type="number" max=20 min=1 name="lvl" class="lvl_character">уровень</b>
                <b class="character_classes"><div>Классы:</div>
                    <div>
                    {% for character_class in character_classes %}
                    <select class="size_select" name="class">
                        <option value="" selected> </option>
                        {% for class in classes %}
                        {% if character_class.game_class == class %}
                                <option value="{{ class.id }}" selected>
                                {{ class }}
                                </option>
                            {% else %}
                                <option value="{{ class.id }}">
                                    {{ class }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                        <input type="number" name="lvl_class"
                               min="0" max="{{ list_character.lvl }}" value="{{ character_class.level }}"
                        class="lvl_character">
                    {% endfor %}
                    {% if character_classes|get_length < classes|get_length %}
                    <select class="size_select" name="class">
                        <option value="" selected> </option>
                        {% for class in classes %}
                        <option value="{{ class.id }}">
                            {{ class }}
                        </option>
                        {% endfor %}
                    </select>
                        <input type="number" name="lvl_class"
                               min="0" max="{{ list_character.lvl }}" value="1"
                        class="lvl_character">
                    {% endif %}
                    </div>
                </b>
                <b class="main_character_info">Раса: <select class="size_select" id="race" name="race">
                        {% for race in races %}
                        {% if list_character.race == race %}
                                <option value="{{ race }}" selected>
                                {{ race }}
                                </option>
                            {% else %}
                                <option value="{{ race }}">
                                    {{ race }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </b>
                <b class="main_character_info">Опыт: <input value="{{ list_character.exp }}" type="number" min=0 max=900 name="exp" class="exp_character">/900</b>
                <b class="main_character_info">Предыстория: {{ character.background }}</b>
                <b class="main_character_info">Мировозрение: {{ character.background }}</b>
            </div>
        </div>
        <div id="main_list">
            <div>
                {% for stat in stats %}
                <a class="state">
                    <div>{{ stat|get_name_stats }}</div>
                    <div class="line"></div>
                    <div>{{ list_character|get_param_from_object_by_str:stat }}({{ list_character|get_param_from_stats:stat }})</div>
                </a>
                {% for skill in stat|get_name_skills %}
                    <b>{{ skill }}({{ list_character|get_param_from_stats:stat }})</b><br>
                {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class="submit_place">
            <input type="submit" name="Save" value="Сохранить" class="submit" id="success">
            <input type="submit" name="Back" value="Назад" class="submit" id="back">
        </div>
    </form>
{% endblock %}

{% block right_content %}

{% endblock %}

{% block js_imports %}
<script src="{% static 'js/preview_img.js' %}"></script>
<script src="{% static 'js/correct_max_value.js' %}"></script>
{% endblock %}
