:root {
    --dg-color: #292121;
    --bg-navbar-color: rgba(66, 38, 38, 0.63);

    --dg-form: rgba(39, 7, 7, 0.89);
    --bg-button-access: rgb(30, 143, 4);
    --bg-button-access-hover: rgb(47, 255, 0);

    --linck-color-form: rgba(105, 232, 218, 0.89);
    --linck-color-hover-form: rgba(213, 227, 225, 0.89);

    --text-color: white;
    --hover-text-color: rgba(57, 198, 24, 0.82);
    --hover-text-color-access: #0b0000;
    --text-corol-attention: #f3cc30;

    --bg-for-exit-account: rgba(242, 100, 25);

    --default-font-size: 1.3vw;
    --font-size-for-form-button: 1vw;
    --name-project-navbar: 2.5vw;


    --default-font-size-account-form: 15px;
    --default-font-size-account-username-on-form: 25px;
    --default-font-size-account-user-id-on-form: 10px;

    --default-font-size-account-username-on-form-befor-900: 17px;
    --default-font-size-account-user-id-on-form-befor-900: 7px;

    --size-img-on-header: 5vw;
    --size-img-on-header-after-1300: 4.5vw;
    --size-img-on-header-after-1500: 3vw;
    --border-radius-img-on-header: 50px;

    --scale-min: 0.9;
    --scale-max: 1.1;

    --default-width-form: 30vw;
    --min-width-form: 240px;
    --min-width-form-input: 150px;
    --min-width-form-button: 70px;
}